:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 720px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;

  --theme: rgb(0, 0, 0);
  --theme: rgb(255, 255, 255);
  --entry: rgb(255, 255, 255);
  --primary: rgb(30, 30, 30);
  --secondary: rgb(108, 108, 108);
  --tertiary: rgb(214, 214, 214);
  --content: rgb(238, 238, 238);
  --content: rgb(31, 31, 31);
  --hljs-bg: rgb(28, 29, 33);
  --code-bg: rgb(245, 245, 245);
  --border: rgb(238, 238, 238);
}

.dark-theme {
  --theme: rgb(29, 30, 32);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --hljs-bg: rgb(46, 46, 51);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51);
}

* {
  transition: all 700ms;
}

html,
body {
  background-color: var(--theme);
}

body {
  color: var(--content);
  padding: 18vh 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  letter-spacing: -0.3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: rgb(0 255 127);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline dotted green;
}

.body-inner {
  max-width: 720px;
  margin: auto;
}

#nav {
  text-align: right;
}
