<div id="edit-page-link-wrapper">
  <a id="edit-page-link" href="https://gitlab.com/illnr/illnr.gitlab.io/">
    <p>Edit this page.</p>
  </a>
</div>
{{ if .File}}
<script>
  const filePath = 'master/content/{{ .File.Path }}';
  const ecodedUriPart = encodeURIComponent(filePath) + "?return_url=" + encodeURIComponent(window.location.href);
  const editUrl = 'https://gitlab.com/illnr/illnr.gitlab.io/-/sse/' + ecodedUriPart;
  // Edit Page button
  document.getElementById('edit-page-link').href = editUrl;

  document.addEventListener("keydown", function (zEvent) {
    if (zEvent.ctrlKey && zEvent.key === "e" || zEvent.metaKey && zEvent.key === "e") {
      window.location = editUrl;
    }
  });
</script>
{{ end }}
