<div id="nav">
  {{ range .Site.Menus.main }}
  <a class="nav-link" href="{{ .URL }}">
    {{ $text := print .Name | safeHTML }}
    {{ $text }}
  </a>
  {{ end }}
  <a><button id="theme-toggle">☀️</button></a>
</div>
