<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}

<body>
  <div class="body-inner">
    {{- partial "header.html" . -}}
    <div id="content">
      {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "edit.html" . -}}
    {{- partial "js.html" . -}}
  </div>
</body>

</html>
